#back {
background-image: url("../images/head/city.jpeg");
   padding-bottom: 60px;
   padding-top: 60px;
   background-position:center;
   align-items: center;
}

#wallpaper {
  background-image: url("../images/background/night.jpg");
  padding: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat:
}

#background{
  background-color: black;
  padding: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat:
}
p {
  font-family: 'joti One';
  font-size: 2em;
  color: antiquewhite;
}
p1 {
  font-family: 'joti One';
  font-size: 2em;
  color: antiquewhite; 
} 
h1 {
  font-family: 'joti One';
  font-size: 3em;
  color: rgb(255, 255, 255);
}
h2 {
  font-family: 'joti One';
  font-size: 1.8em;
  color: antiquewhite; 
}
ul {
  font-family: 'joti One';
  font-size: 1.7em;
  color:cyan;
}
